{% extends 'assets/base.html' %}
{% load business_tag %}
{% load humanize %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        {% include "ztree/ztree_js.html" %}
        {% include "assets/host_detail.html" %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#show').click(function(){
            $('#show').css('display', 'none');
            $('#more').css('display', 'block');
        })
    })
</script>


{% endblock %}